<h1>Where is the page we're looking for?</h1>
<h3>This isn't the page you're looking: Move along, move along </h3>

<div class="row">
    <div class="col-md-12">
        <img src="images/wizardcat.jpeg" />
    </div>
</div>

@code {

}
